:root {

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;


  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --primary-blue: #83baff;
  --secondary-blue: #9bc1ff;
  --light-blue: #b9d3ff;
  --extra-light-blue: #e3ecff;
}

a {
  font-weight: 500;
  color: var(--primary-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-blue);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--extra-light-blue);
  color: var(--primary-blue);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-blue);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: var(--secondary-blue);
  background-color: var(--secondary-blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--extra-light-blue);
  }
  a:hover {
    color: var(--secondary-blue);
  }
  button {
    background-color: var(--primary-blue);
    color: white;
  }
}

.hero-section {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
}